@page
@model PantawidPamilyaProgram.Pages._4ps.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>4p's</h1>

<p>
    <a asp-page="Create" style="color:blue;">Add Beneficiaries</a>
</p>
<form>
    <p style="color:lightgray;">
        <select asp-for= "PersonelAddress" asp-items = "Model.Address">
        <option value = "">Address</option>
        </select>
        Name: <input type="text" asp-for= "SearchString" />
        <input type="submit" value= "Search" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pppp[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pppp[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pppp[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pppp[0].Benificiaries)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Pppp) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Benificiaries)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
